<ion-tabs class="tabs-icon-top tabs-light">
 <!-- Map Tab -->
 <ion-tab title="Add" icon-off="ion-plus" icon-on="ion-plus-circled" ui-sref="main.home">
   <ion-nav-view name="main-home"></ion-nav-view>
 </ion-tab>
 <ion-tab title="Cal" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" ui-sref="main.list">
   <ion-nav-view name="main-list"></ion-nav-view>
 </ion-tab>
 <ion-tab title="Stats" icon-off="ion-stats-bars" icon-on="ion-stats-bars" ui-sref="main.stats">
   <ion-nav-view name="main-stats"></ion-nav-view>
 </ion-tab>
 <!-- <ion-tab title="Settings" icon-off="ion-ios-cog-outline" icon-on="ion-ios-cog" ui-sref="debug">
   <ion-nav-view name="debug"></ion-nav-view>
 </ion-tab> -->
<!--  <ion-tab title="Times" icon-off="ion-ios-time-outline" icon-on="ion-ios-time" ui-sref="main.times">
   <ion-nav-view name="main-times"></ion-nav-view>
 </ion-tab> -->
</ion-tabs>
